{% extends 'base.html.twig' %}

{% block main %}
    <div class="jumbotron">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
    </div>
{% endblock %}